## NPM ##
node_modules/

## Compiled files ##
compiled/

## API keys ##


## DATA ##
data/


## MockUps ##
MockUp0.png
MockUp1.png
MockUp2.png
MockUp3.png
MockUp4.png


## instructions ##
Photo App Description.docx

